<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="setup" connectionString="Driver=IBM DB2 ODBC DRIVER;Hostname=localhost;Port=50000;Protocol=TCPIP;Database=SAMPLES;Pwd=P@s$w0rD!;UID=db2admin;LONGDATACOMPAT=1"
      providerName="System.Data.Odbc" />
  </connectionStrings>
</configuration>
