<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="setup" connectionString="Driver=IBM DB2 ODBC DRIVER;Hostname=localhost;Port=50000;Protocol=TCPIP;Database=SAMPLES;Pwd=P@s$w0rD!;UID=db2admin;LONGDATACOMPAT=1"
      providerName="System.Data.Odbc" />
    <add name="user1" connectionString="Server=localhost:50000;Database=SAMPLES;UserID=sample01_user1;Password=Usr_2011#_Xls4168"
        providerName="IBM.Data.DB2" />
    <add name="odbc_user1" connectionString="Driver=IBM DB2 ODBC DRIVER;Hostname=localhost;Port=50000;Protocol=TCPIP;Database=SAMPLES;Pwd=Usr_2011#_Xls4168;UID=sample02_user1;LONGDATACOMPAT=1"
      providerName="System.Data.Odbc" />
  </connectionStrings>
</configuration>
